<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
<acl>
<resources>
<resource id="Magento_Backend::admin">
<resource id="Magento_Backend::marketing">
<resource id="Magenest_Blog::magenestblog"
title="MagenestBlogSection" sortOrder="60">
<resource id="Magenest_Blog::blog" title="MagenestBlog" />
<resource id="Magenest_Blog::banner" title="MagenestBanner" />
<resource id="Magenest_Blog::category" title="MagenestCategory" />
</resource>
</resource>
</resource>
</resources>
</acl>
</config>