<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Movie data source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenestmovie_movie_listing_data_source" xsi:type="string">magenestmovie_movie_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="magenestmovie_movie_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Movie</argument>
        </arguments>
    </virtualType>

    <!-- Actor data source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_actor_listing_data_source" xsi:type="string">magenest_actor_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="magenest_actor_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_actor</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Actor</argument>
        </arguments>
    </virtualType>

    <!-- Director data source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_director_listing_data_source" xsi:type="string">magenest_director_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="magenest_director_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_director</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Director</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="configurable_product_avatar" type="Magenest\Movie\Plugin\Checkout\CustomerData\AbstractItem" sortOrder="100" />
    </type>

    <type name="Magento\Theme\Model\View\Design">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="adminhtml" xsi:type="string">Magenest/Admin</item>
            </argument>
        </arguments>
    </type>
</config>