<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/m
enu.xsd">
<menu>
    <add id="Magenest_Blog::magenestblog"
    title="Magenest Blog"
    module="Magenest_Blog"
    sortOrder="50"
    resource="Magenest_Blog::magenestblog"
    />

    <add
    id="Magenest_Blog::blog"
    title="Magenest Blog"
    module="Magenest_Blog"
    sortOrder="55"
    parent="Magenest_Blog::magenestblog"
    action="blog/blog"
    resource="Magenest_Blog::blog"
    />

    <add
    id="Magenest_Blog::banner"
    title="Magenest Banner"
    module="Magenest_Blog"
    sortOrder="60"
    parent="Magenest_Blog::magenestblog"
    action="blog/banner"
    resource="Magenest_Blog::banner"
    />

    <add
    id="Magenest_Blog::category"
    title="Magenest Category"
    module="Magenest_Blog"
    sortOrder="95" 
    parent="Magenest_Blog::magenestblog"
    action="blog/category"
    resource="Magenest_Blog::category"
    />
</menu>
</config>